{% extends 'base.html.twig' %}

{% block title %} Contact form{% endblock %}

{% block body %}

<section class ="container">
{{ form_start(our_form) }}

{{form_widget (our_form) }}

<input type="submit" value="Submit">

{{ form_end (our_form) }}

</section>

{% endblock %}